Django==4.0.1
django-cache-url==3.2.3
django-filter==21.1
django-heroku==0.3.1
djangorestframework==3.13.1
docopt==0.6.2
environs==9.5.0
filelock==3.4.2
gunicorn==20.1.0
pipreqs==0.4.11
psycopg2==2.9.3
psycopg2-binary==2.9.3
pymemcache==3.5.0
python-dateutil==2.8.2
python-decouple==3.6
python-dotenv==0.19.2
requests==2.27.1
spotipy==2.19.0
whitenoise==6.0.0
dj-database-url==0.5.0