{% for artist in artists %}
<div class="row">
  <div class="col-2 py-2"><img id='image{{ forloop.counter }}' width="60px" height="60px" src="{{ artist.image.url }}">
  </div>
  <div class="col-8 py-2">
    <div class="col block text-truncate"><a href="{{ artist.link }}">{{ artist.name }}</a></div>
    <div class="col block text-truncate">{{ artist.genres }}</div>
  </div>
  <div class="col-2 py-2">
    <div class="row"><a class="btn btn-outline-light btn-dark btn-sm" href="{% url 'artist_tracks' artist.id artist.name %}">Tracklist</a></div>
    <div class="row"><a class="btn btn-outline-light btn-dark btn-sm" href="{% url 'similar_tracks_artist' artist.id artist.name %}">Similar</a></div>  
  </div>
  </div>
{% endfor %}