{% extends "header.html" %}

{% block title %} {{ name }} {% endblock %}

{% block body %}
<div class="container p-4">
  <h3>{{ name }}</h3>
  <h4>Related Artists</h4>
  <div class="row row-cols-4">
    {% for artist in related_artists %}
    <div class="col text-center">
      <a href="{% url 'artist_tracks' artist.id artist.name %}">
        <img id='image{{ forloop.counter }}' class="row mx-auto d-block" width="100px" height="100px" src="{{ artist.image.url }}">
      </a>
      <div class="row p-2"><a  href="{{ artist.link }}">{{ artist.name }}</a></div>
    </div>
    {% endfor %}
  </div>
  <div class="container p-2"></div>
  <h4>Artist Tracks</h4>
  <div class="container align-content-center p-2" id="long">
      {% include "tracks.html" with tracks=tracks length="long" %}
  </div>
</div>
{% endblock %}