{% extends "header.html" %}

{% block title %} Music Profile {% endblock %}

{% block body %}

<div class="container px-2">
  <div class="container">
    <div class="text-center p-1"><img width="200px" height="200px" src="{{ results.user.image }}"></div>
    <div class="text-center p-1">{{ results.user.name }}</div>
    <div class="text-center p-1">{{ results.user.email }}</div>
  </div>

  <!-- <div class="offcanvas offcanvas-top show" tabindex="-1" id="offcanvas">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasLabel">Offcanvas</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
      Content for the offcanvas goes here. You can place just about any Bootstrap component or custom elements here.
    </div>
  </div> -->

  <div class="container">
    <div class="row gx-5">
      <div class="col">
        <div class="container">
          <h3 class="text-start">Listening Profile</h3>
          <canvas id="chart"></canvas>
        </div>
      </div>
      <div class="col">
        <div class="container">
          <h3 class="text-start">Top Genres</h3>
          {% for genre in results.genres.top %}
          <h5 class="row">{{ forloop.counter }}. {{ genre.0 }} - {{ genre.1 }}%</h5>
          {% endfor %}
        </div>
      </div>
    </div>

  </div>
  <div class="container px-2">
    <div class="row gx-5">
      <div class="col">
        <!-- Top Artists -->
        <div class="col text-center p-2">
          <div class="row px-3">
            <h3 class="col text-start">Top Artists</h3>
            <div class="col text-end"><a href="{% url 'get_top_artists' %}">See More</a></div>
          </div>
          {% for artist in results.artists %}
          <div class="row row-cols-2 hoverable px-3">
            <div class="col-3 py-2 align-content-center"><img width="50px" height="50px" src="{{ artist.image.url }}">
            </div>
            <div class="col-9 py-2 text-start text-truncate">
              <div class="row align-content-center">
                <a class="row" href="{{ artist.link }}">{{ artist.name }} ({{ artist.popularity }})</a>
                <div class="row">{{ artist.genres }}</div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="col">
        <!-- Top Tracks -->
        <div class="col text-center p-2">
          <div class="row px-3">
            <h3 class="col text-start">Top Tracks</h3>
            <div class="col text-end"><a href="{% url 'get_top_tracks' %}">See More</a></div>
          </div>
          {% for track in results.tracks %}
          <div class="row row-cols-2 hoverable px-3">
            <div class="col-3 py-2"><img id='image{{ forloop.counter }}' width="50px" height="50px"
                src="{{ track.image.url }}">
              <audio id="audio{{ forloop.counter }}" src="{{ track.preview }}"></audio>
              <script>
                image = $('#image{{ forloop.counter }}');
                $('#audio{{ forloop.counter }}').get(0).volume = .4
                image.on('mouseover', () => {
                  $('#audio{{ forloop.counter }}').get(0).play();
                });
                image.on('mouseout', () => {
                  $('#audio{{ forloop.counter }}').get(0).pause();
                });
              </script>
            </div>
            <div class="col-9 py-2 text-start text-truncate">
              <div class="row">
                <a href="{{ track.link }}">{{ track.name }} ({{ track.popularity }})</a>
                <div>{{ track.artists }}</div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
<script>
  const ctx = $('#chart');
  let labels_pt = "{{ data.labels|safe }}".split(',');
  let data_pt = "{{ data.data|safe }}".split(',').map(Number);
  const data = {
    labels: labels_pt,
    datasets: [{
      label: 'User profile',
      data: data_pt,
      fill: true,
      backgroundColor: 'rgba(99, 199, 118, 0.2)',
      borderColor: 'rgb(99, 199, 118)',
      pointBackgroundColor: 'rgb(99, 199, 118)',
      pointBorderColor: '#fff',
      pointHoverBackgroundColor: '#fff',
      pointHoverBorderColor: 'rgb(99, 199, 118)'
    }],
  };
  const chart = new Chart(ctx, {
    type: 'radar',
    data: data,
    options: {
      plugins: {
        legend: {
        display: false
        },
      },
      elements: {
        line: {
          borderWidth: 3
        }
      },
      scales: {
        r: {
          angleLines: {
            display: true,
            color: 'white'
          },
          grid: {
            display: true,
            color: 'white'
          },
          ticks: {
            display: false,
            count: 6,
          },
          pointLabels: {
            color: 'white'
          },
          min: 0,
          max: 100,
        }
      }
    },
  });
</script>
{% endblock %}