{% for track in tracks %}
{% if track.top %}
<div class="row border border-success py-2">
{% else %}
<div class="row row-cols-2 py-2">
{% endif %}
  <div class="col-2"><img id='image{{ forloop.counter }}{{ length }}' width="60px" height="60px"
      src="{{ track.image.url }}">
    <audio id="audio{{ forloop.counter }}{{ length }}" src="{{ track.preview }}"></audio>
    <script>
      image = $('#image{{ forloop.counter }}{{ length }}');
      $('#audio{{ forloop.counter }}{{ length }}').get(0).volume = .4
      image.on('mouseover', () => {
        $('#audio{{ forloop.counter }}{{ length }}').get(0).play();
      });
      image.on('mouseout', () => {
        $('#audio{{ forloop.counter }}{{ length }}').get(0).pause();
      });
    </script>
  </div>
  <div class="col-8">
    <div class="col block text-start text-truncate" style=""><a href="{{ track.link }}">{{ track.name }} ({{ track.popularity }})</a></div>
    <div class="col block text-start text-truncate">{{ track.artists }}</div>
  </div>
  <div class="col-2">
    <div class="row"><a class="btn btn-outline-light btn-dark btn-sm" href="{% url 'similar_tracks_track' track.id track.name %}">Similar</a></div>
    <div class="row"><a class="btn btn-outline-light btn-dark btn-sm" id="add{{ forloop.counter }}{{ track.id }}">Add</a></div>
  </div> 
</div>

  <script>
    $("#add{{forloop.counter}}{{ track.id }}").on('click', (e) => {
      e.preventDefault();
      $.ajax({
        type: 'GET',
        url: "/add_to_playlist",
        data: { 'track_id': '{{ track.id }}', 'playlist_id': $('#playlist-form option:selected').val()},
        success: (response) => {
          $('#main-navbar').append(
            `
            <div class="alert alert-warning alert-dismissible fade show" id="slideup{{forloop.counter}}" role="alert">
              {{track.name}} was added to ${$('#playlist-form option:selected').text()}!
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            `
          );
          $("#slideup{{forloop.counter}}").fadeTo(1000, 500).slideUp(500, function(){
              $("#slideup{{forloop.counter}}").slideUp(500);
          });
        },
        error: (response) => {
          alert(reponse);
        }
      })
    });
  </script>
{% endfor %}

<!-- $("#add{{forloop.counter}}{{ track.id }}").on('click', (e) => {
  e.preventDefault();
  $.ajax({
    type: 'GET',
    url: "/add_to_playlist",
    data: { 'image': '{{ track.image.url }}', 'name': '{{ track.name }}', 'artists': '{{ track.artists }}', 'id': '{{ track.id }}' },
    success: (response) => {
      console.log(console.dir(window))
      if (response.id) {
        $('#songs').append(
        `
          <div class="row" id="t{{ track.id }}">
            <div class="col-sm-1"><img width="50px" height="50px" src="{{ track.image.url }}"></div>
            <div class="col-sm-4">
              <div class="row">{{ track.name }}</div>
              <div class="row">{{ track.artists }}</div>
            </div>
            <div class="col-sm-1">
              <button type="button" id="b{{ track.id }}" class="btn-close btn-close-white" aria-label="Close"></button>
            </div>
          </div>
        `
        )
        $('#track-count').text("{{playlist_tracks|length}}")
        $("#b{{ track.id }}").on('click', (e) => {
          e.preventDefault();
          $.ajax({
            type: 'GET',
            url: "/remove",
            data: { 'id': "{{track.id}}" },
            success: (response) => {
              $(`#t{{track.id}}`).empty()
              $('#track-count').text(parseInt($('#track-count').text() - 1 > 0 ? parseInt($('#track-count').text() - 1) : 0))
            },
            error: (response) => {
              alert(response);
            }
          })
        })
      }
    },
    error: (response) => {
      alert(reponse);
    }
  })
}); -->